h1 {
  border-style: solid;
  border-color: blueviolet;
  border-radius: 20px;
  border-width: 10px;
  outline-style: groove;
  outline-offset: 10px;
  outline-color: red;
}

p {
  border: dashed blue 5px;
}

div {
  border-style: ridge;
  border-radius: 20px;
  border-width: 20px;
  border-top-color: aqua;
  border-bottom-color: brown;
}

span {
  border-style: dotted;
  border-color: tomato;
}
