h1 {
  text-align: center;
  text-decoration: underline;
  background-color: bisque;
}
h2 {
  background-color: brown;
  text-decoration: underline;
  text-align: center;
  text-emphasis-color: inherit;
}
div {
  font-style: italic;
  background-color: aqua;
}
p {
  background-color: beige;
  font-weight: 100;
}
#p1 {
  background-color: rgb(52, 165, 42);
  border-color: blue;
  border: 5px solid black;
}
* {
  background-color: rgb(175, 151, 151);
  font-size: large;
}
