div {
  border-style: solid;
  border-color: black;
  border-width: 20px;
  background-color: brown;
  color: silver;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: inline-block;
  height: 250px;
  width: 250px;
}
